header{
    padding: 15px 60px;
    background-color: #8E1616;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: #fff;
    gap: 20px;
}
.logo img{
    height: 80px;
}
#formularioBusqueda{
    display: flex;
}
#busqueda{
    width: 400px;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    border: none;
}
.botonBuscar{
    padding: 0;
    margin: 0;
    width: 50px;
    height: 40px;
    border-radius: 0px 10px 10px 0;
    cursor: pointer;
    border: none;
}
.botonBuscar:hover{
    background-color: #c2c2c2;
    color: #fff;
    transition: 0.3s ease-in;
    transform: scale(1.2);
}
.logoUsuario{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #fff;
    cursor: pointer;
}
.logoUsuario:hover{
    box-shadow: 0 0 8px rgba(121, 132, 179, 0.7),  /* Sombra más cercana, intensa */
    0 0 15px rgba(121, 132, 179, 0.7), /* Sombra intermedia */
    0 0 25px rgba(121, 132, 179, 0.7);
}
.inicial_usu{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
}
.logoUsuario img{
    height: 60px;
}
.menuaLogoUsuario{
    padding: 15px;
    width: 220px;
    background-color: #171717fb;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 45px;
    border-radius: 10px;
    border: 2px solid #2f2f2f;
    transition: 0.5s;
    display: none;
    box-shadow: 1.5px 1.5px 10px #343333;
    z-index: 100;
}


.menuaLogoUsuario a, .cerrar{
    font-family: sans-serif;
    
    padding: 10px 0px 10px 20px;
    border-radius: 10px;
    color: #dedede;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: 0.3s;
}
.menuaLogoUsuario a:hover, .cerrar:hover{
    background-color: #2c2c2ce2;
}
.cerrar div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.menuaLogoUsuario img{
    height: 30px;
}



.contenedorInvitado{
    background-color: #2f2f2f;
    font-family: sans-serif;
    color: #dedede;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px 0px 0px 10px;
    margin: 10px;
}
.logo_invitado{
    height: 30px;
}





.menuaLogoUsuario hr{
    margin: 5px 0;
    border: none;
    height: 2px;
    background-color: #4d4d4d;
}

